 /mylogs.log
mylogs.log
# ignore all files named mylogs.log even in any folder also

#  only take root log where .gitignore located not all
*.log
# ignore all files with .log extension ex:*.csv/*.txt...
directory/
# ignored folder represents folder with /